logs
target
.idea
.idea_modules
.classpath
.project
.settings
.directory
.bloop
.metals
project/.bloop/
.history
RUNNING_PID
/files_storage
/local
.DS_Store
.cache-main
.cache-tests
/bin
.ensime*
\#*
.#*
*#
newschema.sql
*.class

